* {
  box-sizing: border-box;
}

.App {
  width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App > div {
  flex: 1;
}

:root {
  --warrior-bg-color: #fc3;
  --magician-bg-color: #39c;
  --archer-bg-color: #6C3;
  --thief-bg-color: #639;
  --pirate-bg-color: #999;
}

.warrior {
  background-color: var(--warrior-bg-color);
}
.magician {
  background-color: var(--magician-bg-color);
}
.archer {
  background-color: var(--archer-bg-color);
}
.thief {
  background-color: var(--thief-bg-color);
}
.pirate {
  background-color: var(--pirate-bg-color);
}